<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board-mapper">
	
	<resultMap id="boardMap" type="Board">
		<result column="B_NO" property="bno"/>
		<result column="BTYPE_NO" property="btype"/>
		<result column="U_NO" property="uno"/>
		<result column="BCATEGORY" property="bCategory"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_ENROLLDATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_STATUS" property="bStatus"/>
		<result column="RM" property="bnum"/>
		<result column="N_NAME" property="writer"/>
		<result column="C_COUNT" property="cCount"/>
	</resultMap>
	
	<resultMap id="commentMap" type="Comment">
		<result column="C_NO" property="cno"/>
		<result column="B_NO" property="bno"/>
		<result column="U_NO" property="uno"/>
		<result column="C_NO2" property="cRef"/>
		<result column="C_CONTENT" property="cContent"/>
		<result column="C_LEVEL" property="cLevel"/>
		<result column="C_ENROLLDATE" property="cDate"/>
		<result column="C_STATUS" property="cStatus"/>
		<result column="WRITER" property="writer"/>
		<result column="WRITER2" property="writer2"/>
	</resultMap>
	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>

	<select id="selectBoard" parameterType="PageInfo" resultMap="boardMap">
		<![CDATA[ SELECT * FROM 
		 (SELECT B.*, ROWNUM RNUM 
                  FROM(SELECT BD.*,M.N_NAME 
                      	 FROM (SELECT ROWNUM RM, BDD.* ,C_COUNT
                       			FROM BOARD BDD 
                       			 LEFT JOIN (SELECT B_NO,COUNT(*) C_COUNT FROM BOARD_COMMENT WHERE C_STATUS='N' GROUP BY B_NO) C ON (BDD.B_NO = C.B_NO)
                      			 WHERE B_STATUS='N') BD 
                       JOIN MEMBER M ON (BD.U_NO=M.U_NO)
                        WHERE B_STATUS='N' 
                        ORDER BY B_ENROLLDATE DESC) B 
                 WHERE ROWNUM <= #{endRow})
         WHERE RNUM >#{startRow}
         ]]>
	</select>
	<select id="selectOneBoard" parameterType="int" resultMap = "boardMap">
		SELECT B.*,M.N_NAME 
		FROM BOARD B 
		JOIN MEMBER M ON (B.U_NO = M.U_NO)  
		WHERE B_NO = #{bno}
	</select>
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD VALUES(SEQ_B_NO.NEXTVAL,
								 1, #{uno}, '자랑', 
								 #{bTitle}, #{bContent},
								  DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="addReadCount" parameterType="int">
		UPDATE BOARD SET B_COUNT=B_COUNT+1 WHERE B_NO= #{bno}
	</update>
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD SET B_TITLE = #{bTitle},B_CONTENT=#{bContent} WHERE B_NO = #{bno}
	</update>
	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD SET B_STATUS = 'Y' WHERE B_NO = #{bno}
	</update>
	
	
	<!-- Comment -->
	<select id="selectComments" parameterType="int" resultMap="commentMap">
		SELECT BC.*,CM.WRITER, (SELECT N_NAME FROM MEMBER M2, board_comment B2 WHERE b2.u_no = M2.U_NO AND b2.c_no = BC.C_NO2) WRITER2
			FROM BOARD_COMMENT BC
			JOIN (SELECT C.C_NO,M.N_NAME WRITER
			FROM BOARD_COMMENT C
			JOIN MEMBER M ON (C.U_NO=M.U_NO)) CM ON (BC.C_NO = CM.C_NO)
			WHERE BC.B_NO = #{bno} AND C_STATUS='N'
			START WITH BC.C_LEVEL = 1
			CONNECT BY PRIOR BC.C_NO = BC.C_NO2
	</select>	
	
	 
	<insert id="insertComment" parameterType="Comment">
		INSERT INTO BOARD_COMMENT 
		VALUES(SEQ_C_NO.NEXTVAL, 
			   #{bno}, 
			   #{uno}, 
			   <if test="cRef !=0">#{cRef},</if>
			   <if test="cRef ==0">NULL,</if>    
			   #{cContent},
			   <if test="cRef !=0">2,</if>
			   <if test="cRef ==0">1,</if>
			     DEFAULT,
			      DEFAULT)
	</insert>
	<update id="updateComment" parameterType="Comment">
		UPDATE BOARD_COMMENT SET C_CONTENT = #{cContent} WHERE C_NO= #{cno}
	</update>
	<update id="deleteComment" parameterType="int">
		UPDATE BOARD_COMMENT SET C_STATUS = 'Y' WHERE C_NO = #{cno}
	</update>
	
	<update id="deleteCommentbyAdmin" parameterType="int">
		<![CDATA[ UPDATE BOARD_COMMENT SET C_CONTENT = '<span style="color : #808080;">관리자에 의해 삭제된 댓글입니다.</span>' WHERE C_NO = #{cno} ]]>
	</update>
</mapper>