<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice-mapper">

<resultMap id="noticeResult" type="Notice">
      <result column="N_NO" property="nNo"/>
      <result column="U_NO" property="uNo"/>
      <result column="N_TITLE" property="nTitle"/>
      <result column="N_CONTENT" property="nContent"/>
      <result column="N_ENROLLDATE" property="nEnrolldate"/>
      <result column="N_COUNT" property="nCount"/>
      <result column="N_STATUS" property="nStatus"/>
   </resultMap>

   <select id="selectList" parameterType="Notice" resultMap="noticeResult">
   SELECT * FROM NOTICE
   WHERE N_STATUS = 'N'
   ORDER BY N_ENROLLDATE DESC      
   </select>   
   
   <select id="selectTotalContents" resultType="int">
      SELECT COUNT(*) FROM NOTICE
   </select>
   
   <insert id="insertNotice" parameterType="Notice">
      INSERT INTO NOTICE 
      VALUES(SEQ_N_NO.NEXTVAL, #{uNo},
       #{nTitle},#{nContent},
      DEFAULT, DEFAULT, DEFAULT)
   </insert>
   
   <!-- <insert id="insertAttachment" parameterType="Attachment">
      <selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
         SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
      </selectKey>
      INSERT INTO ATTACHMENT
      VALUES (SEQ_ATTACHMENTNO.NEXTVAL, #{boardNo}, 
            #{originalFileName},
            #{renamedFileName},
            DEFAULT, DEFAULT, DEFAULT)
   </insert> -->
   
   <select id="noticeDetail" parameterType="Notice" resultMap="noticeResult">
      SELECT * FROM NOTICE WHERE N_NO = #{nNo}
   </select>
   
    <update id="addReadCount" parameterType="Notice">
      UPDATE NOTICE SET N_COUNT = N_COUNT + 1 WHERE N_NO = #{nNo}
   </update>
   
   <!-- <select id="selectAttachment" parameterType="int" resultType="Attachment">
      SELECT * FROM ATTACHMENT WHERE BOARDNO = #{boardNo}
   </select> -->
   
   <update id="updateNotice" parameterType="Notice">
      UPDATE NOTICE 
      SET N_TITLE = #{nTitle},
         N_CONTENT = #{nContent}
      WHERE N_NO = #{nNo}
   </update>
   
   <!-- <insert id="updateAttachment" parameterType="Attachment">
      
      INSERT INTO ATTACHMENT
      VALUES (SEQ_ATTACHMENTNO.NEXTVAL, #{boardNo}, 
            #{originalFileName},
            #{renamedFileName},
            DEFAULT, DEFAULT, DEFAULT)
   </insert> -->
   
   <update id="deleteNotice" parameterType="Notice">
      UPDATE NOTICE 
      SET N_STATUS = 'Y'
      WHERE N_NO = #{nNo}
   </update>

</mapper>