<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qunit-mapper">

	<resultMap id="qunitResult" type="Qunit">
		<result column="quno" property="quno"/>
		<result column="QC_NO" property="category"/>
		<result column="quname" property="quname"/>
	</resultMap>
		
		 <select id="selectQunit" resultType="hashmap">
   		SELECT QU_PKNO quno, QU_NAME quname FROM Q_UNIT WHERE QC_NO = #{category}
		</select>
		
	</mapper>